body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px; 
    color: black;
    background-color:blue;
    margin:  0px;
    padding:  0px;      
  }
   .jumbotron{
     text-align:  center;
     color: red;
     background-color:yellow;
      } 